<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="address" value="10.20.5.72"/>-->
    <!--<add key="address" value="10.20.0.104"/>-->
    <!--<add key="address" value="127.0.0.1"/>-->
    <add key="address" value="10.20.6.6"/>

  </appSettings>
</configuration>